.realtors {
    background-color: var(--color-secondary);
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    display: grid;
    align-content: center;
    justify-items: center;
    justify-content: center;
    grid-row-gap: 2rem;
}

@media only screen and (max-width: 50em) {
    .realtors {
        grid-column: full-start / full-end;
    }
}

.realtors__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;
}

@media only screen and (max-width: 50em) {
    .realtors__list {
        grid-template-columns: repeat(3, min-content max-content);
    }
}

@media only screen and (max-width: 37.5em) {
    .realtors__list {
        grid-template-columns: min-content max-content;
    }
}

.realtors__img {
    width: 7rem;
    border-radius: 50%;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
}

.realtors__sold {
    text-transform: uppercase;
    color: var(--color-grey-light-2);
}